
@{
    ViewBag.Title = "Facultes";
}
<body>
    <table id="main-table">
        <thead>
            <tr>
                <th>Факультет</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].Name</td>
                        <td class="clicable" onclick="this.getElementsByTagName('a')[0].click()">
                            @Html.ActionLink("Подробнее", "Specialitis", new { faculty_id = Model[i].id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <script type="text/javascript">
        document.onload = new function () {
            $('#main-table').DataTable(russian_lang);
        };
    </script>
</body>

