body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/background.jpg);
    background-repeat:repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.dataTables_wrapper {
    margin-top: 5%;
}
td {
    border: 1px solid black;
    padding: 10px;
}
th {
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
}
.clicable:hover
{
    cursor:pointer;
    background-color:lightgray;
    text-decoration:none;
}
.clicable a
{
    text-decoration:none;
    color:blue;
}
.clicable a:hover
{
    color:blue;
}
.clicable a:visited
{
    color:blue;
}
.red
{
    background-color:#FFA07A;
}
.orange
{
    background-color:#FFD700;
}
.green
{
    background-color:#9ACD32;
}

.page_menu>div {
  padding-left: 20px;
  display: none;
}
.page_menu>span{
    cursor: pointer;
    font-size:20px;
}
.page_menu::before {
  content: '▶ ';
  color: green;
}
.page_menu_open::before {
  content: '▼ ';
}
.page_menu_open>span{
    font-size:20px;
    cursor: pointer;
}
.page_menu_open>div {
  display: block;
}
h3
{
    font-size:14px;
}